[2020-01-01 22:21] Sispheor opened #2 "init via CLI?"
Hi,

Just a question, I haven't had the time to read the doc of the Gmail api but I was wondering if the browser is really mandatory?
There is no way to get the token via CLI?

Thanks.

[2020-01-01 22:52] jeremyephron commented on #2
There is no way of authenticating without _some_ browser interaction (or would be unnecessarily complicated to do otherwise), due to Google's security precautions. There are other ways of authenticating that require you to change/allow things in your Google account security settings (so browser interaction would be required at that stage).

Using a token as I do here is generally the safest method

[2020-01-01 22:52] #2 closed

[2020-01-09 11:22] fox-ankii opened #3 "Passing user input to script"
Hello Jeremy,

First of all great work, i'm using your code to access gmail api I'm wondering if its possible if we can take recipient email from user and pass on that input into our code.

In your example where we define params, so can we pass a variable into it ?

Many Thanks in advance.

[2020-01-09 17:10] jeremyephron commented on #3
Can you describe in more detail what you mean? Perhaps give an example of what it is you would like to do.

[2020-01-10 06:42] fox-ankii commented on #3
Thank you for reply. Below is my code :-

Datetime2 is variable which havinf current date.
x is again a variable but I'm fetching it from database.
abc i've assigned a mail address.

So basically I wanted user to provide his/her mail address as well as the message they want in mail. So I got the way to take email address via variable abc.
But now how I can take HTML part from user. ??

while True

[2020-01-10 06:42] fox-ankii commented on #3
oops Please ignore my geneous reamrk :)

[2020-01-10 18:46] jeremyephron commented on #3
This package allows you to pass in whatever HTML message you'd like. It seems like your question is about how to get user input, which would not be a part of this package. It's up to you how you want to do that.

You could, most simply just write something like:
[code]

where ">>>" denotes that the user is typing the text on that line.

[2020-01-10 18:46] #3 closed

[2020-01-10 19:50] fox-ankii commented on #3
Thank you for your reply. I too had thought in same way but as per understanding msg_html will contain only user provided data so how it could be embed with html code.

msg_html = input('Enter you HTML message here: ') ---- This is for user input code

so how to embed both code so it can be pass further as a single message.

Hope I'm able to convey my message. Appologies if its a silly question.

[2020-01-12 20:06] Btibert3 opened #4 "Installation and basic Connection"
I want to kick the tires of this package, as this is **exactly** what I was looking for, but I ran into a few issues.

For context, I am running on Colab.  Notebook and output here: https://colab.research.google.com/drive/1Y8Le95TLcVu3GR3IsiySa8l-MOJ7nNyj

1.  `pip3` and `pip` install didn't work, so I had to clone the repo to install
1.  `gmail = Gmail()` failed

Just wanted to share, but admit i

[2020-01-12 20:52] jeremyephron commented on #4
To address the first issue, the package is certainly on PyPi, so `pip3 install simplegmail` should work in all environments you would expect it to.

Second, the first time you create a new instance of the `Gmail` class, (`gmail = Gmail()`), a browser window is opened to confirm permissions for your Google account.

I suspect that both of these issues are related to the Colab environment. I will tr

[2020-01-12 21:06] #4 closed

[2020-07-16 11:26] pierre-24 opened #5 "Argument of constructor is actually never used"
The `client_secret_file` argument of the  [`Gmail` constructor](https://github.com/jeremyephron/simple-gmail/blob/master/simplegmail/gmail.py#L57) is never used in the function, thus changing its value does not change the file :)

[2020-07-16 11:29] pierre-24 opened #6 "Disable cache"
When using the code, I get the (non-blocking) error `ImportError: file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth`. According to [StackOverflow](https://stackoverflow.com/questions/40154672/importerror-file-cache-is-unavailable-when-using-python-client-for-google-ser), the trick is simply to add `cache_discovery=False` to the `build()` function  [there](https://github.com

[2020-07-16 11:32] pierre-24 opened #7 "Package on pypi is "simplegmail"?"
Your package seems to be [this one](https://pypi.org/project/simplegmail/). Thus, `pip3 install simple-gmail` does not actually works, at least for me :)

[2020-07-16 18:17] jeremyephron commented on #7
I've made the correction. Thanks!

[2020-07-16 18:17] #7 closed

[2020-07-16 18:28] jeremyephron commented on #5
Fixed.

[2020-07-16 18:28] #5 closed

[2020-07-16 18:31] jeremyephron commented on #6
Hi, I wasn't able to reproduce this error on my own machine. Can you detail the steps to reproduce? Also what is the downside of disabling the cache here?

[2020-07-17 07:46] pierre-24 commented on #6
I know why it shows up:

[code]

... Because I set the log output to `INFO` ;)

But removing the cache seems to be [Google's decision](https://github.com/googleapis/google-api-python-client/issues/325), so it seems ok to keep it like this, I'll just have a weird warning showing up in my log from time to time!

[code]

[2020-07-18 07:34] jeremyephron commented on #6
Just to confirm my understanding: not having `cache_discovery=False` will do absolutely nothing because of this error, correct? If that's the case, then I will add it, I just wanted to make sure I wasn't disabling any behavior unwittingly.

[2020-07-19 07:34] pierre-24 commented on #6
Yes, that seems to be it :)

[2020-07-19 09:16] jeremyephron commented on #6
Okay, `cache_discovery=False` has been added as an argument to build per your suggestion.

[2020-07-19 09:16] #6 closed

[2020-07-19 17:56] pierre-24 commented on #6
Thanks for all those improvements ;)

[2020-08-11 03:53] rodolfonobrega opened #8 "Move e-mail"
Is it possible to create a method that moves the e-mail to another folder?

It would be useful, for example, when you want to make a program that downloads attachments and you want to move the e-mails that you have already downloaded the attachments to another folder.

Thanks in advance and congrats for your great job.

[2020-08-11 20:04] jeremyephron commented on #8
Thanks for the suggestion, I will look into this when I get the opportunity; should be doable.

[2020-08-14 01:46] jeremyephron opened #9 "Look into improving efficiency, and/or add support for paging if appropriate"
For big inboxes, it can take a very long time to pull all the messages. It's worthwhile to looking into faster ways of accomplishing this or exposing an API for paging or async.

[2020-08-14 15:54] jeremyephron commented on #8
Hi @rodolfonobrega, I added a `Gmail.list_labels` function to grab your account's labels, and now you can use the existing `Message.modify_labels` to add one label and remove another (which is all moving does). There also is a `Message.move_from_inbox` function for convenience if the label you are removing is your inbox.

Check out [this simple example](https://github.com/jeremyephron/simple-gmail

[2020-08-14 15:54] #8 closed

[2020-08-15 10:41] gonzupi opened #10 "Problem with some messages.plain text"
Hi, I love the project idea, it's great, but I'm having trouble with some messages because I can only access my content in HTML format. When I try to run the message.plain function, it just returns "none" and breaks my program (later) by throwing an exception when i try to acces the data because there is no string in there jajaja.

It seems that there is a difference between the messages that have

[2020-08-16 17:03] jeremyephron commented on #10
Hi @gonzupi, sorry to hear about your issue. Unfortunately, this is not a problem with the package that can be fixed. `Message.plain` is not guaranteed to exist for every message (neither is `Message.html`). These contents are determined when the email is created, and always  automatically done by the email service. When you create an email using the Gmail online client, for instance, both of thes

[2020-08-16 17:03] #10 closed

[2020-08-28 13:45] mjuliefr opened #11 "Is it possible to save email attachment with a chosen/new file name?"
Hi
Is it possible to save attachements with a different name than in the originating email, please ?
This is in case there are two unread emails and both have attachments with the same name.
Kind regards,
Julie

[2020-08-28 21:15] jeremyephron commented on #11
Yes, it is possible. This is the header for the `Attachment.save` function:

[code]

So you can pass in your desired filename as `filepath`. If you just pass in a name like `image.jpg` it will be saved in the current directory per usual, but you can also pass in a full path like `different/path/to/image.jpg`.

I'm working on writing more comprehensive documentation for the package as more people a

[2020-08-28 21:15] #11 closed

[2020-08-29 07:53] mjuliefr commented on #11
Hi Jeremy, it does help. Thanks.

[2020-08-29 07:59] mjuliefr opened #12 "does it handle CLI tools authentification"
Hi,

I have a back end which will one gmail account to send email and retrieve unread attachment so I wonder if it does handle this kind of use case with a Cli tools type authentication  including the use of the refresh token avoiding the user need to log in, please?

Thanks Julie

[2020-08-29 08:00] mjuliefr commented on #12
I have the code for the CLI tool authentication if needed.

[2020-09-07 04:11] jeremyephron commented on #12
Hi @mjuliefr, can I see an example of what you want and what code you have?

[2020-09-11 16:01] rodolfo-viana opened #13 "Python version issue, perhaps?"
I have run a script using `simplegmail`with Python 3.8 and it works fine. But when I upload it to a VM on a cloud (with Python 3.6.9 along with `credentials.json` and `gmail-token.json`), I get this error:

[code]

I believe it is related to one of the dependencies for `simplegmail` itself does not have a module named `dataclasses`.

[2020-09-11 18:21] jeremyephron commented on #13
`dataclasses` is a module added to Python 3.7. This was my mistake, as I have the required Python version listed as Python 3.6. For now, if you can use Python >= 3.7 that would work, but I will try refactor to use Python 3.6 compatible code.

[2020-09-11 18:28] #13 closed

[2020-09-13 16:38] illucent opened #14 "circular import"
Hi, have an issue, possible circular import with example "Retrieving messages (more advanced, with more queries!)". Thanks in advance.

[code]
[code]

[2020-09-13 20:14] jeremyephron commented on #12
@mjuliefr Just wanted to let you know that you can authenticate once on your browser and then copy the "gmail_token.json" file to the new location to avoid having to log in again.

[2020-09-13 20:16] jeremyephron commented on #14
Hi @illucent, this is not an issue with the simplegmail package but rather that your file is called "simplegmail.py", the same module name as the package. Inside of "simplegmail.py", when you try to import from `simplegmail` it thinks you are trying to import from "simplegmail.py" and not from the `simplegmail` package. Change the filename to fix the issue.

[2020-09-13 20:16] #14 closed

[2020-09-13 21:37] jeremyephron commented on #13
@rodolfo-viana Version 3.0.0 just released fixed the compatibility issues. It is now fully Python >= 3.6 compatible. It does break with v2.x.x, and you'll have to reauthenticate any projects the first time you create a `Gmail` object after upgrading.

[2020-09-14 01:13] rodolfo-viana commented on #13
That's awesome. Thank you.

[2020-09-14 19:26] illucent commented on #14
Works thanks, now I know what 'circular import' means. 👍🏻

[2020-09-16 14:02] mjuliefr commented on #12
Hi Jeremy thanks for the feedback,

[2020-09-16 14:02] #12 closed

[2020-09-26 18:46] james1bb opened #15 "Stuck at receiving mails"
Project Directory has both the files client_secret and gmail_token after printing done it just stuck their mail has like 200+- unread mails not sure what i am doing wrong.
[code]

[2020-09-26 21:22] jeremyephron commented on #15
@james1bb How long did you wait? It can take a long time to receive the emails from Gmail. With 200 messages I would expect it to take around 45 seconds, if you have significantly more than 200, you could expect it to take longer.

[2020-09-26 21:35] jeremyephron commented on #15
@james1bb To give you more insight: specifically, the thing that takes a long time is downloading the full content of each message, which is done one message at a time, sequentially (Google doesn't support any sort of batch request for the message contents).

In the near future I will add at least one the following different solutions to alleviate this problem:

- Sending each message request in p

[2020-09-26 21:39] james1bb commented on #15
Yeah it worked it just too time I didn't waited long that was my mistake 😅😅 thanks for answering it.

[2020-09-26 21:39] #15 closed

[2020-09-26 21:40] james1bb commented on #15
For now everything needed is their in it I just want to fetch my mail body that's it and process it further with my code and save it.
Thanks

[2020-09-29 18:01] jamesmalin commented on #9
Cool - are you still looking into this?

Btw, great library. Thanks.

[2020-09-30 07:27] jeremyephron commented on #9
@jamesmalin Yes, I am. I actually just implemented a multithreaded version on my end which seems to be successful.

I just need to think through
- whether I want to have this parallelization by default or be explicitly requested;
- whether I want to generate the new Gmail connections required for the parallelization at init of the `Gmail` object or at the point of downloading the messages
- whethe

[2020-11-07 11:15] cogency opened #17 "Authorised redirect URIs"
Fantastic library @jeremyephron, thanks!

One difficulty - I kept getting invalid credentials errors from simple-gmail even though I had a valid json file. When creating the Google API credential you also have to specify an "Authorised redirect URI" for communicating back with the client, i.e.
http://localhost:8090/

Suggest adding this to your readme.md instructions for others.

best regards

[2020-11-11 18:36] jeremyephron commented on #17
I haven't seen that one before. I will look into it and add the appropriate steps. Thanks for the suggestion!

[2020-11-18 18:09] jeremyephron commented on #17
I added more information and a link to Google's page with the OAuth2.0 requirements for different kinds of applications.  Commit: 7cad7c12d6c1a4e606dda09635a85e7e1cd516a8

[2020-11-18 18:09] #17 closed

[2020-11-24 11:43] PrashantSrivastava4 opened #18 "Forward an existing email to other recipients"
Can somebody help me with code to forward an existing email to other recipients using simplegmail python library?

[2020-12-04 04:16] roib20 commented on #18
As far as I'm aware there's no built-in Forward function. However, I wrote a short script that should work (I tested it and it works for me). See the code snippet below; to use it, you only need to replace the first three variables for your usage (see comments). It does not have a command-line interface but you could adapt it for that.

[code]

[2020-12-04 04:36] jeremyephron commented on #18
There is no forward function since forwarding is client defined behavior (i.e., its a series of actions that is dependent on the mail client you use). Forwarding generally involves taking the body of a message, prepending something to that message, changing the subject, and sending that message to someone else. All these actions can be done with the simplegmail library: access the body with `messa

[2020-12-04 05:13] jeremyephron commented on #9
Update: I've had multithreaded email downloads working awhile back with great speedup, but somewhere down the line of bs4 parsing the html from the emails an error message is printed when processing on multiple threads that I have not been able to get to the bottom of or silence, which is preventing it from being rolled out.

[2020-12-04 05:30] jeremyephron commented on #18
I'm redoing the documentation in the wiki at the moment to be much more thorough. I will include an example of forwarding there based on this issue.

[2020-12-05 18:18] roib20 commented on #9
Glad to hear you're making progress. A faster simplegmail would be amazing, thank you for your work.

[2020-12-18 10:31] inzackpro opened #20 "Add image as Gmail signature"
Hi,

I executed the code as per your instructions.  am unable to add/update image as gmail signature, could you pls let us know how to achieve the same,

Thanks
vijay

[2020-12-19 01:08] jeremyephron commented on #20
Hi @inzackpro, this is a little more complicated, since images need to be attached to messages separately from text. Right now this is not supported, but can be done manually. Since you are interested in this use case, I will try to work on implementing this feature.

[2020-12-19 02:08] jamesmalin commented on #9
@jeremyephron It's been working well without multithread. I have been marking as read for each email I extract the attach for, so I also put the filter to only go back 1 day. I run this with a cronjob twice a day just to make sure I didn't miss anything.

I have tested, but when filtering with the above example it isn't grabbing all contents of the inbox correct? In this example, it's just going b

[2020-12-19 02:18] jeremyephron commented on #9
@jamesmalin Glad to hear it. Using `'newer_than': (1, 'day')` like in the example [here](https://github.com/jeremyephron/simple-gmail#retrieving-messages-advanced-with-queries) will only return messages received within the past 24 hours. Extra filters can be added on top of any of the convenience functions by passing in the right parameters. So yes, if that's what you're doing, that should be corr

[2020-12-19 03:24] jamesmalin commented on #9
@jeremyephron Yes, I am using a few of the different filters you added. I'll test it out when you're ready.

[2020-12-20 10:55] jeremyephron commented on #9
@jamesmalin multithreaded download has been added (ended up fixing the problem with bs4). It should be significantly faster now. On my regular old 4-core laptop, it takes about 12 seconds for 420 messages (whereas before it was about 12 seconds for 50 messages). The newest version 3.1.0 is downloadable with pip as usual.

[2020-12-20 10:55] #9 closed

[2020-12-23 04:42] xinjin95 opened #21 "TypeError: sum() takes no keyword arguments"
@jeremyephron Thanks for your efforts on this great api.

I got an error while retrieving unread emails with the following code:

[code]
Then I got the following error messages:
[code]
While tracking data flow of the internal functions, I found everything is good before the return statement of `_get_messages_from_refs` function. Moreover, I am using  Python 3.6.9.

Do you have any ideas about this

[2020-12-23 07:55] jeremyephron commented on #21
@xinjin95 Yes it seems that `start` as a keyword was added to the `sum()` function in Python 3.8. For the time being, I am committed to making this 3.6 compatible, so I will fix the bug and upload a new version of the package. If you can't wait, you can either upgrade to Python3.8 or edit the `gmail.py` file, line 632 and delete `start=` (that's the whole fix!).

I will post again when the fix has

[2020-12-23 15:14] xinjin95 commented on #21
Sounds great, thanks!

[2020-12-23 15:14] #21 closed

[2020-12-24 08:21] jeremyephron commented on #21
@xinjin95, the fix has been uploaded. You can run
[code]
to update to the newest version.

Run
[code]
to confirm that the version number is 3.1.1.

[2020-12-28 19:05] roib20 opened #22 "Add v3.1 to Releases tab"
Could you please add v3.1 to the Releases tab under GitHub? Of course the new version is already available on pip but having it on GitHub as well will allow another way for people to get the new release (without having to clone the master branch).

BTW, absolutely love the new release. A short test I did shows a query that used to take 4 minutes (in simplegmail v3.0) now takes just 20 seconds (in

[2020-12-28 20:01] jeremyephron commented on #22
@roib20 I just added [release v3.1.2](https://github.com/jeremyephron/simple-gmail/releases/tag/v3.1.2), thanks for reminding me. I will make sure to consistently upload them in the future. I'm glad you are having a good experience with it; it's unfortunate I didn't add that feature sooner, it was delayed for the silliest of reasons (this [one line](https://github.com/jeremyephron/simple-gmail/com

[2020-12-28 20:01] #22 closed

[2020-12-28 20:08] Maxzl opened #23 "Initial Configuration"
Hello!
I followed the getting started info in the README, downloaded the credentials as `client_secret.json`, successfully installed using `pip3 install simplegmail`, and ran `from simplegmail import Gmail gmail = Gmail()`, and am not being prompted to authenticate in the browser window. Instead I just get `ModuleNotFoundError: No module named 'simplegmail'`. Would appreciate any guidance. Thanks!

[2020-12-28 20:42] Maxzl commented on #23
Beginner's issue...I wasn't installing simplegmail correctly.

[2020-12-28 20:42] #23 closed

[2021-01-03 08:33] churongcon opened #24 "simple gmail & django"
Hello
I want to run simple gmail with django

[code]

how to add client secret file and _CREDENTIALS_FILE

[2021-01-03 09:08] jeremyephron commented on #24
You should not use the `_creds` parameter, which exists for internal use only. You only use `client_secret_file`.

[2021-01-03 09:23] churongcon commented on #24
EOF when reading a line

https://i.imgur.com/l6sha5o.png

It's still error

[2021-01-03 09:29] jeremyephron commented on #24
Can you copy and paste the full error?

[2021-01-03 09:33] churongcon commented on #24
https://bank.taikhoanykhoa.com/get/momo

@jeremyephron

[2021-01-03 09:41] jeremyephron commented on #24
Can you copy and paste the contents of your client_secret.json file, but **replace all strings in the values with "..."**. Strings that are keys are fine, but make sure not to post any of the values publicly

[2021-01-03 09:43] churongcon commented on #24
`{"installed":{"client_id":"xxx-xxx.apps.googleusercontent.com","project_id":"quickstart-1561091209545","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"xxx-SdJIyJ","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}`

[2021-01-03 09:55] jeremyephron commented on #24
Okay I see why this is happening. It's from the step where typically it would launch a browser window to confirm authentication. If you want a quick fix, you can run
[code]
from a terminal window, which will launch a browser and request access. This will save a "gmail_token.json" file in the current directory. If you move that "gmail_token.json" file to the directory where the django server is bei

[2021-01-03 10:03] churongcon commented on #24
It is only working fine when run via terminal windows,

But in django, I need set path both client_secret_file and gmail_token file because It's django server can't detect path gmail_token.json

[2021-01-03 10:06] churongcon commented on #24
Althought I have uploaded same folder but it can't detect gmail_token.json https://i.imgur.com/GiGop5r.png

[2021-01-03 10:18] jeremyephron commented on #24
I see, you likely just need to move it to one of the inner folders where the script that's actually using `Gmail()` is located. Regardless, I just pushed a new version `3.1.3` which accepts a path to the credentials file:
[code]

[2021-01-03 10:27] churongcon commented on #24
Big thanks for your support.

Now It's working fine 💯

[2021-01-03 10:29] jeremyephron commented on #24
Glad to hear it!

[2021-01-03 10:29] #24 closed

[2021-01-03 15:10] benoitgoyet opened #25 "Problem with crontab"
Hy,

I'm trying to use simpegmail in a scheduled script using crontab (with a raspberry)
When I try the script without cron everything is fine. I can send a mail without any problem.
When U try to schedule it (using crontab -e), the call :
`gmail = Gmail() # will open a browser window to ask you to log in and authenticate
` give me an issue with an unexpected end of the script (I check it with one

[2021-01-03 15:44] jeremyephron commented on #25
Just ran a script using `simplegmail` on `crontab` and everything worked fine. There is no inherent problem with running simplegmail within a cronjob. We can still try to get to the bottom of your problem though. Unexpected end of script sounds like something is wrong with the script and not the `Gmail()` call (perhaps a missing parenthesis).

Can you run the cronjob (just change the time to whate

[2021-01-03 16:06] benoitgoyet commented on #25
Thanks for your answer.

Here is my code :
'
print("BP1")
import pdfkit
import sys
print("BP2")
from simplegmail import Gmail
from simplegmail.query import construct_query
print("BP3")
gmail = Gmail() # will open a browser window to ask you to log in and authenticate
print("BP4")
#definition des constantes pour filtrer les messages à traiter
expediteur = "###@gmail.com" # !!! changed for the forum

[2021-01-03 16:51] jeremyephron commented on #25
What is the code for your cronjob? If you are writing the output to a file, make sure to also write stderr to the file, so that you can see the error message.

[2021-01-03 16:55] jeremyephron commented on #25
I just ran your code on a cronjob, and it worked fine. My hypothesis right now is that you don't have "gmail_token.json" in the right place. Can you please locate the "gmail_token.json" file and then specify its path as a parameter of `Gmail()` like
[code]

[2021-01-03 17:43] benoitgoyet commented on #25
It’s strange, because when I use your proposition there is a mistake : TypeError: __init__() got an unexpected keyword argument ‘creds_file'

[2021-01-04 04:05] jeremyephron commented on #25
@benoitgoyet Make sure to upgrade to the latest version 3.1.3. Run
[code]

[2021-01-09 20:55] jamesmalin opened #27 "Confidential mode"
Hi Jeremy,

Hope everything is going well over there. I haven't looked into this yet, but thought this would a great feature to add. Not sure if you have ever used this before yourself.

Sometimes you send an email that you do not want to be forwarded to another recipient. Examples could be a paid for service that attaches a CSV or Excel spreadsheet, email that you want only the one recipient to h

[2021-01-09 22:11] jamesmalin commented on #25
I run simplegmail in a crontab on several servers as well and have no issues.

[2021-01-09 22:14] jamesmalin commented on #20
One solution is to simply use an image you have hosted on a server, S3 bucket, or something similar that can be accessed publicly. No update needed for simplegmail to achieve the result.

[2021-01-09 22:18] jamesmalin commented on #27
Specific reference:
https://developers.google.com/contacts/v3/reference#gcSensitivity

[2021-01-09 23:48] jeremyephron commented on #27
@jamesmalin A brief google search and scan through the Gmail API endpoints seems to show that this is not possible through the API, and can only be done through the Gmail client

[2021-01-09 23:51] jamesmalin commented on #27
Okay. I found a reference in the python Gmail client module under MISC for the people v1 API. Didn't dig or search more than that.

[2021-01-13 08:06] #27 closed

[2021-01-13 08:07] jeremyephron commented on #25
Closing because I think the issue is resolved. @benoitgoyet feel free to reopen if you are still having issues.

[2021-01-13 08:07] #25 closed

[2021-01-15 23:01] woosal1337 opened #29 "Downloading Embedded Images"
I have noticed that even though ```message.attachments``` helps you out to get all the attached image, or whatever it is to the given path/directory, unfortunately, if the image or the file that is sent is embedded, such as it exists in the mail, however, is not attached rather embedded to the sent message, then neither the downloading the mail as using ```message.attachments```, nor ```message in

[2021-01-16 00:04] jeremyephron commented on #29
@woosal1337, embedded images are just elements in the html of the message, they aren't actually included in the email, so you can manually parse the HTML in order to get their source URLs. Here is one example of how to do that using [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/).

[code]

If you want to download and save these images, you can use requests:
[code]

[This st

[2021-01-16 00:04] #29 closed

[2021-01-16 00:08] jeremyephron commented on #29
Just to clarify: this kind of feature is beyond the scope of what I believe belongs in the package (because users should handle html parsing of their own emails), but I will add a section to the Wiki with an example like this for others who want to do the same.

[2021-01-16 00:10] jeremyephron opened #30 "Add examples to wiki"
Add examples of downloaded embedded images and forwarding to the wiki (from issues #29 #18)

[2021-01-16 00:57] jeremyephron commented on #25
@benoitgoyet Something happened where the `creds_file` argument change was reverted (I don't know how this happened), but I've just fixed it in v3.1.5. Let me know if you were/are able to get things working

[2021-01-18 20:42] woosal1337 commented on #29
Great, glad to hear that, Jeremy.

[2021-02-24 20:32] cod3r-dev opened #31 "Second Gmail Account"
There is any way to add second account??

[2021-02-24 20:39] jeremyephron commented on #31
Yes, go through the process of downloading the client secret file for each account, say they are named `client_secret1.json` and `client_secret2.json`. Then when you make a `Gmail` object for each, you need to pass in distinct values for the name of the credentials file (named `gmail_token.json` by default):

[code]

Just make sure you always use the same file names for the same accounts the next

[2021-02-24 20:39] #31 closed

[2021-02-25 07:31] cod3r-dev opened #32 "Delete Message"
Add delete feature please!

Nice work!

[2021-02-25 08:36] jeremyephron commented on #32
Once you have the `Message` object you want to delete, you can call `msg.trash()` (there is also `msg.archive()`, `msg.move_to_inbox()`, and `msg.untrash()` among other methods)

https://github.com/jeremyephron/simplegmail/blob/master/simplegmail/message.py#L208

[2021-02-25 08:36] #32 closed

[2021-03-17 22:20] ycl310 opened #33 "Nice project"
:)

[2021-03-21 03:26] jeremyephron commented on #33
@ycl310 I appreciate the compliment, thank you (but maybe use the issues page for actual issues/requests; you can always email me directly at the email listed on my profile)

[2021-03-21 03:26] #33 closed

[2021-04-12 12:39] BisratGetnet opened #34 "Can't download attachment files when passing filepath"
File "C:\Users\BisreG\AppData\Local\Programs\Python\Python39\lib\site-packages\simplegmail\attachment.py", line 106, in save
    with open(filepath, 'wb') as f:
PermissionError: [Errno 13] Permission denied: 'D:\\Doc\\bndf'

it works with no argument but cant save on other folders

[2021-04-21 07:11] dagz214 opened #35 ""exclude_<keyword>" does not work with "exact_phrase""
Using ```exclude_<keyword>``` to negate a term works with ```starred``` (e.g ```exclude_starred```),
but when trying to use ```exclude_exact_phrase``` nothing happens.
So no way to filter out important messages from large group of messages based on a text parameter.

[2021-04-21 17:32] jeremyephron commented on #34
@BisratGetnet Will look into whether this is something on simplegmail's end or you may just lack permission to write to that location.

[2021-04-21 17:32] jeremyephron commented on #35
@dagz214 Thanks for posting the issue, will look into this bug.

[2021-04-21 19:32] jeremyephron commented on #35
@dagz214 The following works for me (for example):

[code]

Can you double check your code, or include it here if it still does not work?

I admit this isn't the cleanest interface, so I may be modifying this in the future.

[2021-04-21 19:39] jeremyephron commented on #34
@BisratGetnet I think I know what the issue is. If `D:\Doc\bndf` is a *directory* then that would cause the issue. The `filepath` you pass in is not the directory to save it to, but the full filepath including the filename itself. If you want to take the name of the attachment, it can be retrieved from `attachment.filename`.

So you might write the desired code like this:

[code]

[2021-04-21 19:39] #34 closed

[2021-04-21 22:38] dagz214 commented on #35
Hi @jeremyephron thanks for replying.
Ok, so that explains why it worked with booleans.
I misread the docstring and passed it as ```exclude_exact_phrase='some text'```.

I'm actualy passing the arguments with a yaml file to automate repeating tasks.
I'd appreciate if you'd [check it out](https://github.com/dagz214/gmailgrabber)

[2021-04-22 05:33] #35 closed

[2021-04-24 04:45] rosstex opened #37 "include_spam_trash unused"
I see that include_spam_trash is unused. Since SPAM and TRASH are labels, I assume this means that they are included by default? How do you specify messages which do _not_ match a label?

[2021-04-24 15:33] jeremyephron commented on #37
@rosstex

Yes! This is a bug you've identified. It has now been fixed in version 3.1.6. You can run `python3 -m pip install --upgrade simplegmail` to upgrade to the newest version, and you can run `pip3 show simplegmail | grep "Version"` to confirm that the version is 3.1.6.
Setting `include_spam_trash=True` in the various convenience functions will include messages in the spam and trash folders i

[2021-04-24 15:33] #37 closed

[2021-04-24 15:42] jeremyephron commented on #37
In writing those examples for you, I realized there is a situation that isn't well handled, so I will likely update the `construct_query` very soon. Will update you when that is done.

[2021-04-24 16:16] jeremyephron commented on #37
@rosstex The `construct_query` method has been changed to be more expressive in v4.0.0. Here are the same 3 scenarios updated plus one additional scenario:

### 1. Search unread inbox messages, excluding those with the 'finance' label

[code]

### 2. Search unread messages, excluding messages with both 'homework' and 'cs' labels

If a message has only 'homework' or only 'cs' (or neither), it will

[2021-04-24 16:21] jeremyephron commented on #35
@dagz214 It looks very cool from what I've seen so far, I'm glad you could make use of the library!

I've changed the behavior of `exclude_<keyword>` in v4.0.0 so be aware before updating, but it also should make things simpler and more expressive. See #37 for some examples I provided there in the last comment (that begins with mentioning the new v4.0.0). Basically, now instead of having `exclude_

[2021-04-24 17:25] rosstex commented on #37
Thank you so much for your incredibly quick and helpful support! Don't mind me if I ask a few more questions meanwhile :)

[2021-04-24 17:27] rosstex opened #39 "retrieving raw headers from gmail API"
Actually just one Q, I don't see that `message.py` has a way to access the raw email headers. Is that something that Google's API provides? (For example, I would like to view DKIM signatures and [Feedback IDs](https://support.google.com/mail/answer/6254652).)

[2021-04-24 18:56] jeremyephron commented on #39
I currently don't grab those, but I can look into adding that functionality soon.

[2021-04-25 21:44] jeremyephron commented on #39
@rosstex v4.0.1 exposes the message headers automatically as a dict from header name to value `Message.headers`.

[code]

No particular headers are guaranteed to exist, so make sure to check for the key's existence first, and you can see what keys are available for a given message with `msg.headers.keys()`.

[2021-04-25 21:44] #39 closed

[2021-04-26 05:28] rosstex commented on #39
Awesome, thank you!!

[2021-04-29 06:21] mkimura1971 opened #40 "Downloading multiple attachments consecutively"
Hi.

I modified the "Downloading attachments" example to loop over messages to download multiple attachments consecutively. My Gmail inbox has 50+ messages and each has one video file (3MB). It starts nicely, but after 20-30 downloads, it stops. It stops at

res = self._service.users().messages().attachments().get(userId=self.user_id, messageId=self.msg_id, id=self.id).execute()

in attachment.py.

[2021-04-29 07:21] jeremyephron commented on #40
@mkimura1971 I believe the issue may be hidden by however you modified it to download "consecutively". I just tested the example as is with 100 messages each with a 6MB video file, no issues.

The download is not trivially parallelizable. This has to do with complications of the underlying Google API resource object that is used to make API requests. Are you calling `download()` or `save()` in par

[2021-04-29 08:01] mkimura1971 commented on #40
Thanks for the quick response! My code is essentially this (I simplified the original, but confirmed that this simplified version gives me the same symptom):

from simplegmail import Gmail
import os

gmail = Gmail()
messages = gmail.get_messages(query='in:inbox from:(some@email.net) has:attachment')

for message in messages:
    if message.attachments:
        for attm in message.attachments:

[2021-04-29 08:12] jeremyephron commented on #40
Does it always stall on the same file?

[2021-04-29 08:15] mkimura1971 commented on #40
No, it's different each time.

[2021-04-29 08:47] jeremyephron commented on #40
I'm not able to reproduce the stalling on my end no matter how many messages or attachments I download, so I'm at a bit of an impasse. If you were hitting google API quotas, it wouldn't stall. My best guess is that it may have to do with your network, since not receiving a response is the most likely explanation for it stalling. If you have access to another network (or can run this on a remote ma

[2021-04-29 16:38] mkimura1971 commented on #40
Yes, I'm going to try it from a different network and perhaps a different Google account. Thanks!

[2021-04-29 16:38] #40 closed

[2021-04-29 17:03] jeremyephron opened #41 "Parallel attachment downloads"
Look into the memory overhead of required changes to allow trivial parallel attachment downloads. If too costly/unnecessary, potentially provide some interface (helper) for doing this that appropriately manages shared Google resource.

[2021-05-06 00:19] jeremyephron commented on #30
Add examples with "John Doe <john.doe@email.com>" sender addresses

[2021-05-10 09:53] BisratGetnet commented on #34
Thanks a lot!!!!!!! That Helps me,

[2021-05-30 23:40] rosstex opened #42 "Case insensitive email headers"
I noticed something funky with an email that contained a lowercase 'from' header. Turns out, email headers can be case insensitive: https://stackoverflow.com/a/6143644/3385741

The parsing of 'sender' and 'recipient' currently do not account for this.

[2021-06-05 21:33] jeremyephron commented on #42
@rosstex Thanks for figuring that out! It has been fixed in ce8dc03 and released in v4.0.3.

[2021-06-05 21:33] #42 closed

[2021-06-21 12:41] sicenul opened #43 "Custom folder for credential file"
Is it possible to set custom folder for credential files? (client_secret.json and gmail_token.json)
I'd like to save and read it not from root directory of application, but from other sub folder
Please show me how if possible. Thanks.

[2021-06-29 08:29] victorbjorklund opened #44 "Support for threaded replies"
Great library. It's not clear however if there is support for threaded messages. I see thread id in private method but not anywhere that it is accessible for us. Is it possible to specify thread id?

[2021-06-29 09:54] jeremyephron commented on #43
@sicenul Yes, it is possible, with the `client_secret_file` and `creds_file` parameters of the `Gmail` object.

When you create the object just pass in the desired paths, e.g.,

[code]

[2021-06-29 09:54] #43 closed

[2021-07-01 06:43] jeremyephron commented on #44
@victorbjorklund  I can look into adding this. What would you like to be able to do, specify thread ID for searching for all messages from the thread? It's not obvious to me what the best and most useful interface is.

[2021-07-01 09:44] victorbjorklund commented on #44
So I just started looking into the gmail api and my idea is to build in email in a product (recruitment software). So when clicking in on a candidate it makes a query to the api to get all messages to and from that candidate. They might send a message asking "what is the next step?". I suppose then you can just choose which email to reply to. So i guess if we just provide the id for the message we

[2021-07-16 08:12] abubelinha opened #45 "any old version compatible with Python 3.4 ?"
I would like to try this package in an old WinXP 32bit computer.
The newest Python version I can use there is 3.4.4, and it seems lxml highest compatible version is 4.3.1

So this fails:
[code]

Is there any way to install an old (unsupported) simplegmail version which does not require lxml beyond 4.3.1?

Thanks a lot

[2021-07-16 09:08] jeremyephron commented on #45
@abubelinha I'm sorry to say that the package does not support python versions earlier than 3.6 (this is sensible since not even Microsoft supports XP anymore). If you have programming experience you can try to remove all the 3.6 features, until it runs on 3.4, but that's about it.

[2021-07-16 09:08] #45 closed

[2021-07-17 13:25] KrishGarg opened #46 "Attachment data is None."
I have a discord bot that checks for new emails every few minutes. But when it faced an attachment, I used
[code]
But this returned None. Whereas if I check my mails manually, I do have a pdf. So I can't really get the pdf's data.

[2021-07-17 13:36] KrishGarg commented on #46
Nevermind, just had to use
[code]
Thank you.

[2021-07-17 13:36] #46 closed

[2021-08-02 15:38] KrishGarg opened #47 "Any system for refresh token?"
Is there any automatic system to use the refresh token without me physically restarting the script and authorize it again?

[2021-08-04 00:20] quinnaissance opened #48 "Occasional OAuth2 Reauthorization"
This may be related to KrishGarg's issue. It seems that I am periodically required to re-authorize via the Google web interface, despite the readme saying this should only occur once. I looked at `gmail_token.json` and sure enough, it has been modified with a new `access_token`.

I can't tell why this is occurring; it doesn't seem to be at any consistent time interval. I printed the exception:
`<c

[2021-08-04 06:15] KrishGarg commented on #48
Yea I have the same issue. I googled about it and it needs to refresh the access token with the refresh token. I think the simplegmail module should have a system for this, but I am new with google APIs so I am not sure.

[2021-08-10 08:18] infinity-plus opened #49 "Authorization via Environment Variables?"
Please add support for authorizing Gmail Object via environmental variables for services like Heroku that recommend using Twelve-Factor App principles, e.g., storing config data in the environment instead of files.

[2021-09-05 10:07] asicnick commented on #44
Looking forward to this feature as well. Would be great if we get an ability to send a reply over particular mail thread.

[2021-09-09 18:42] Mr-Groch commented on #48
I'm running this script in cron (every 30 minutes) so Gmail class is reinitialized each time and I also have problem with token expiring...

[2021-11-05 21:07] Mr-Groch commented on #48
@jeremyephron  unfortunately on 4.0.4 I had this issue 2 times in past 2 weeks:

[code]

And I had to run manually with `--noauth_local_webserver` option and reathorize...

[2021-11-15 21:45] quinnaissance commented on #48
@Mr-Groch @jeremyephron Unfortunately I have also still had this issue despite upgrading to 4.0.4. It doesn't occur very often but it's definitely still happening.

[2021-11-16 00:50] jeremyephron commented on #48
Hi @Mr-Groch @quinnaissance, sorry to hear there are intermittent issues. I will add a fix for this as soon as I can test it. Am I correct that to reproduce this you are just running the program for an extended duration, periodically making requests (every 15-30 minutes or so?). I will try to figure out the root issue.

[2021-11-16 01:40] quinnaissance commented on #48
@jeremyephron I'm using it for notifications related to a reddit bot. The program runs on a loop once per week in a particular time window of about 3-5 hours. However, simplegmail is only being called in two circumstances:

1. If a timer runs over an hour → the constructor will be called again (was using this to try token refreshing)
2. If a particular string pattern is found → a single email is s

[2021-11-16 08:11] Mr-Groch commented on #48
I'm using simplegmail in simple python script running in cron every 30 minutes.

[2021-12-18 08:56] bwagner opened #51 "calling archive() on a message causes Exception KeyError: labelIds"
File "myprog.py", line 49, in main
    m.archive()
  File "...python/3.10.1/lib/python3.10/site-packages/simplegmail/message.py", line 218, in archive
    self.remove_label(label.INBOX)
  File "...python/3.10.1/lib/python3.10/site-packages/simplegmail/message.py", line 328, in remove_label
    self.remove_labels([to_remove])
  File "...python/3.10.1/lib/python3.10/site-packages/simplegmail/message

[2021-12-20 02:12] jeremyephron commented on #51
@bwagner thanks for reporting this, will fix the issue shortly.

[2021-12-27 21:28] RocksWon opened #52 "Retrieving lot of messages"
So today i tried retrieving messages and since the messages were too many, it took like forever to get those messages about 1017 seconds which is about 17 mins to retrieve the messages. This is a very long time to get the messages. Is there a way i can get it to work faster or something to help?

[2022-01-09 21:36] ahellerjones opened #55 "Body of message disappears with an attachment?"
Maybe I'm doing this wrong but it appears as though the body of my emails disappears whenever I use an attachment.

[code]

[2022-01-11 09:42] SalmanFarooqShiekh opened #56 "overwrite parameter of .save() method of class Attachment works opposite of as expected"
When the ```overwrite``` parameter of the ```.save()``` method is set to ```True```, it gives ```FileExistsError``` on downloading existing attachments, and when it is set to ```False``` it does overwrite existing attachments.

This behavior is exactly opposite of what it should be. I have narrowed down the error to ```line#100``` of [this file](https://github.com/jeremyephron/simplegmail/blob/mas

[2022-04-10 14:40] lemminkeinen commented on #48
Hi everyone!

I am new in gihub, python and google api, so my question might be solved but i cant get how or where.

My script was running on VPS, so got in trouble that seems to be described here. Script suppose to run each 10 minutes, exactle in one week i got this:

**"Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?...........(my personal api oath data i g

[2022-04-14 15:35] MooseV2 opened #61 "Cannot negate boolean queries with False"
I would like to construct a query with negations, such as finding messages which are NOT starred.

[construct_query](https://github.com/jeremyephron/simplegmail/blob/e48164525b4573b63f0ef9bbb467c5cee0afa348/simplegmail/query.py#L11) takes in a dictionary that supports various boolean labels, but setting them to False does not add the negation operator (`-`).

### Actual:
[code]

### Expected:

[co

[2022-04-14 15:40] MooseV2 commented on #61
As a workaround for now, you can compose these queries manually, ie

`construct_query({"exact_phrase": "-is:starred"})`

This does add quotes to the query string (`"-is:starred"` vs `-is:starred`) but Gmail doesn't seem to mind.

[2022-04-18 23:20] rasa commented on #52
#64 will help by allowing you to specify the maximum number of records returned. Currently, the code will return the entire result set, which could be thousands of records.

[2022-04-19 05:42] rasa opened #67 "attachment.save() fails if the file already exists"
The `overwrite` check here should be `not overwrite`:

https://github.com/jeremyephron/simplegmail/blob/e48164525b4573b63f0ef9bbb467c5cee0afa348/simplegmail/attachment.py#L100-L105

[2022-06-07 12:26] VisheshMangla2711 opened #71 "Sending an instance of EmailMessage class"
First of all , thank you for this package. It hides a lot of complicated stuff that one has to go through while finding in google API docs.
I would like to suggest to add a method for sending EmailMessage objects.

[2022-06-09 09:08] devfemibadmus opened #72 "Reply Message"
give an update and add reply message

[code]

[code]

[2022-06-21 13:43] safo-bora opened #73 "Exception: "Precondition check failed.""
FOUND:
The error appears occasionally (1-2 times from 10)

HERE IS SOURCE:
[code]

The Exception:
[code]

[2022-06-24 22:41] felciano commented on #48
Hi folks just started using `simplegmail` inside of a `pandas` script that runs daily, and seem to have been bitten by this issue. Is the a current workaround or way to ensure the tokens are refreshed appropriately without forcing a new log in?

[2022-06-25 19:11] quinnaissance commented on #48
Hello, I have yet to find a workaround unfortunately.

[2022-07-12 23:08] felciano commented on #48
Hi folks --

After some additional logging and testing, I can confirm what @lemminkeinen suggests: the token seems to expire after exactly one week. I wonder if this is running afoul of [limits imposed by Google for "unpublished" apps](https://support.google.com/cloud/answer/10311615#zippy=%2Ctesting):

Aside: @jeremyephron is there a particular reason you are using `oauth2client`? It has been [de

[2022-07-26 00:02] devinhadley opened #75 "Authentication with service accounts."
Is there any authentication method similar to: https://docs.gspread.org/en/latest/oauth2.html#for-bots-using-service-account

I looked around a bit and didn't see anything.

[2022-07-26 01:24] #75 closed

[2022-08-10 21:45] Dan1001 opened #76 "sockets left open"
Hi,

This is a really useful project - thank you.

One small niggle: I have a script which checks my inbox every few minutes, but unfortunately simplegmail seems to leave sockets open each time, and so I get warnings like this:

WARNING | /usr/lib/python3.8/json/decoder.py:353: ResourceWarning:unclosed <ssl.SSLSocket fd=49, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=

[2022-08-15 01:26] improvisor40 opened #78 "help me build it as a recipe for android packaging with buildozer."
Hello, please I need help building a buildozer recipe from your awesome project.
Thanks.

[2022-08-25 01:10] mabusdogma opened #79 "Download only one type of files (PDF)"
Your scripts are great! I wonder how to dowload ony one type of attachments, for example PDFs or Excel files.

[2022-08-25 09:42] mabusdogma commented on #79
Nevermind, I got it!
This is an example to download only Excel files, from unread emails, 7 or less days old:

`from simplegmail import Gmail
from simplegmail.query import construct_query

gmail = Gmail()
query_params = {
    "newer_than": (7, "day"),
    "unread": True,
    "spec_attachment":'xlsx', #PDF or whatever you want
}

messages = gmail.get_messages(query=construct_query(query_params))

t

[2022-09-05 13:37] rob-smallshire commented on #67
Looks like a duplicate of #56

[2022-09-06 00:30] rasa commented on #67
@rob-smallshire Correct. Closing.

[2022-09-06 00:30] #67 closed

[2022-09-07 03:15] connorferster opened #80 "New install: ipykernel_launcher.py: error: unrecognized arguments"
Hi there!

I am excited to try your library. I installed it and followed the instructions for setting up my project, OAuth token, and Gmail API access in the README.

I made sure that I had downloaded the 'client_secret.json' file that Google gave me and stored it in the same directory as my Jupyter notebook.

I then tried running the following:
[code]

And received the following traceback:
[code]

[2022-09-29 07:12] jrios2006 opened #81 "linux box and client_secret.json"
In my linux machine, I use python 3.10.7
In folder /tmp I have a copy of my json credentials file

`[jra@AIO tmp]$ pwd
**/tmp**
[jra@AIO tmp]$ ls -l *.json
-rw-r--r-- 1 jra jra 362 sep 29 08:13 client_secret_629008123798-bdjhkomddehsts3cb4r0nrd32splcsu1.apps.googleusercontent.com.json
-rw-r--r-- 1 jra jra 362 sep 29 09:04 **client_secret.json**
[jra@AIO tmp]$ **python**
**Python 3.10.7** (main, Se

[2022-09-29 16:49] jrios2006 commented on #81
I have a created another credentials in Cloud Google web page and simplegmail is run with this credentials. I thin that the json file is imcomplete.

[2022-09-29 16:49] #81 closed

[2022-10-07 20:55] gexzam opened #83 "Is plain text deprecated on Gmail service?"
Hi jeremy... I love your library
If i call `message.plain` output is None.
Nevertheless if i send an plain text email to myself, `message.plain` works fine.
Is there a possibility that Gmail is hiding plain text part of a message and delivering HTML version only?
Thanks.

[2022-10-08 12:58] kodarahul opened #84 "Would like to have an API to get the size of attachments"
def size(self) -> None:
        """
        Get the size of data for an attachment if it does not exist.

        Raises:
            googleapiclient.errors.HttpError: There was an error executing the
                HTTP request.

        """

        if self.data is not None:
            return

        res = self._service.users().messages().attachments().get(
            userId=self.user_id, me

[2022-10-16 18:04] #84 closed

[2022-11-02 17:12] gexzam opened #85 "Is it compatible with Python 3.11?"
When i try to install with pip, this is the output

`Collecting simplegmail
  Using cached simplegmail-4.0.4-py3-none-any.whl (18 kB)
Collecting google-api-python-client>=1.7.3
  Using cached google_api_python_client-2.65.0-py2.py3-none-any.whl (10.4 MB)
Collecting bs4>=0.0.1
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting python-dateutil>=2.8.1
  Using

[2022-11-22 13:16] duyanh3101 commented on #83
same problem, is there any solution?